<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AppProva</title>
</head>

<body>
    <div class="row">
      <h1 class="text-center text-info">Resultados do Enade</h1>
      <table class="table">
          <td class="text-center">
            <h3 class="text-info">
              Unidades Educacionais
            </h3>
            <form action="/resultados/busca" method="get">
              <%= link_to new_resultado_path, class: "btn btn-default" do %>
                  <i class="glyphicon glyphicon-plus"></i> Nova Unidade
              <% end %>            
              <button class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> Pesquisa</button>
            </form>
          </td>

          <td class="text-center">
            <h3 class="text-info">
              Alunos
            </h3>
            <form action="/alunos/busca" method="get">
              <%= link_to new_aluno_path, class: "btn btn-default" do %>
                  <i class="glyphicon glyphicon-plus"></i> Novo Aluno
              <% end %>
              <button class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> Pesquisa</button>
            </form>
          </td>
      </table>
        <br>
        <br>
      <table class="table table-bordered table-striped">
        <thead>
          <tr class="info">
          
            <th class="text-center">  
              Instituição
            </th>
            <th class="text-center">
              Nota Geral
            </th>
            <th class="text-center">
              Curso
            </th>
            <th class="text-center">
              Media Alunos Curso
            </th>
          </tr>
        </thead>
        <tbody>
          <% @resultados.each do |resultado| %>
            <tr>
              <td>
                <%= resultado.nome_instituicao %>
              </td>
              <td class="text-center">
              <%  
                  @notas = @alunos.where "nome_unidade like ?", resultado.nome_instituicao
                  @nota = @notas.sum('nota_aluno') / @notas.size 
              %>
              <%= @nota.round(2) %>
              </td>
              <td>
                <%= resultado.nome_curso %>
              </td>
              <td class="text-center">
                <%= resultado.media_alunos.round(2) %>
              </td>
              
            </tr>
            <% end %>
        </tbody>
      </table>
    </div> 
    <!-- End Row  -->
</body>

</html>